<%- include('header') -%>

<div class="container mt-5 mb-5">
    <% if(isEmpty) { %>
    <div class="alert alert-info">Your cart is empty.</div>
    <% } else { %>
      <form action="" method="post" id="cart">
        <table class="table table-cart">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col" colspan="2">Quantity</th>
                </tr>
            </thead>
            <tbody>
                <% cart.items.forEach(function(item) { %>
                <tr>
                    <td><%= item.product.name %></td>
                    <td><%= currency %> <%= item.product.price %></td>
                    <td><input type="number" data-id="<%= item.product.id %>" class="form-control quantity" size="3" value="<%= item.quantity %>"></td>
                    <td><a href="" data-id="<%= item.product.id %>" class="remove-product text-danger">&times;</a></td>
                </tr>
                <% }); %>
                <tr>
                    <td colspan="4" class="text-right">
                        <strong>Total: </strong> <%= currency %> <%= cart.total.toFixed(2); %>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="mt-4">
            <button type="button" class="btn btn-primary mr-4" id="update-cart">Update cart</button>
            <button type="button" class="btn btn-danger" id="empty-cart">Empty cart</button>
        </p>
      </form>  
    <% } %>
</div>

<%- include('footer') -%>